* {
    margin: 0;
    padding: 0; 
    box-sizing: border-box;
}
body {   
    background-color: #f4f5f9;
}

.dashboard {
    min-height: 100vh;
    display: grid;
    grid-template-columns: minmax(220px, 280px) 1fr;
}
.sidebar {
    min-height: 100vh;
    padding: 10px;
    background-color: white;
    display: grid;
    grid-template-rows: auto 1fr auto;
}
.main {
    padding: 10px;
    display: grid;
    grid-template-rows: auto 1fr;
}
.topbar {
}
.content {
}